<!-- signin.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <style>
    body {
      background-color: #f0f5f9;
      font-family: 'Arial', sans-serif;
    }

    .container {
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 30px;
      margin-top: 50px;
      max-width: 400px;
    }

    label {
      font-weight: bold;
      color: #3f4d63;
    }

    input {
      border: 1px solid #ced4da;
      border-radius: 5px;
      transition: border-color 0.3s ease-in-out;
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
    }

    input:focus {
      border-color: #007bff;
    }

    button {
      background-color: #8cc84b; /* Light green color */
      border-color: #8cc84b;
      color: #ffffff;
      font-weight: bold;
      width: 100%;
    }

    button:hover {
      background-color: #72a43b; /* Darker green color on hover */
      border-color: #72a43b;
    }

    /* Custom style for autocomplete dropdown */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }
  </style>
</head>
<body>
  <%- include("partials/nav.ejs") %>
  <div class="container">
    <h2 class="text-center mb-4">Signin here!</h2>
    <form action="/user/signin" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember Me</label>
      </div>
      <button type="submit" class="btn btn-success">Sign In</button>
    </form>  
  </div>
  <%- include("partials/scripts.ejs") %>
</body>
</html>
